Package: io.mobile.dumper7
Name: MobileDumper-7
Version: 1.2.0
Architecture: iphoneos-arm
Description: UE Dumper & SDK generator for iOS
Maintainer: CyberCat
Author: CyberCat
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)